.enter-chat {
  font-size: 60px;
  padding: 90px;
}

.chat-wrap {
  overflow: scroll;
}

.chat-wrap md-list {
  padding: 0;
}

md-list-item.md-2-line > .md-no-style .md-list-item-text.chat-text {
  margin: 20px 0;
}

.chat-wrap, .chat-input {
  width: 100%;
}

.chat-input {
  margin-top: 25px;
  margin-bottom: 0;
}